{% extends "base.html" %}

{% load widget_tweaks %}

{% block title %}
    sobrenos | {{ block.super }}
{% endblock %}

{% block container %}
<div class="page-header">
    <img src="https://kondzilla.blob.core.windows.net/kondzilla-portal/2018/06/NGKS.jpg" width="1100" height="240" />
    <h1>Sobre Nós</h1>
    <p>O NGKS (sigla para NeGrosKiS) foi criado no carnaval desse ano, por um pessoal que se conheceu na escola e já embrazava nos passinhos em bailes pela Zona Sul de São Paulo. No total, eles são em 16 jovens, além dos amigos e amigas que colam no rolê, entre 17 e 22 anos, que têm em comum o gosto pela dança, pelo funk e uma atenção caprichada no estilo.
       Depois de fazer sucesso com toda uma moda black em um bloco carnavalesco na Faria Lima, o grupo decidiu gravar alguns vídeos dançando uns passinhos que eles viam na internet. Hoje, eles acumulam milhões de visualizações no YouTube e no Facebook, e já não são um bonde só de dança, com direito a música gravada na KondZilla e agenda de shows.
    Veja o vídeo abaixo
    </p>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/F7YWGM_6TSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>        
</div>
{% endblock %}